.form {
  display: flex;
  flex-direction: column;
}

.number {
  width: 100px;
  margin-bottom: 20px;
}

.proof {
  width: 70px;
  margin-bottom: 20px;
}

.track {
  width: 500px;
  margin-bottom: 20px;
}

.try {
  width: 500px;
  margin-bottom: 20px;
}
